.grid{
    display: grid;
    padding: 10px;
    text-align:left;
    box-sizing: border-box;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    height: 100vh;
}

.item{
    background-color:gold;
    padding: 25px;
}
.items-1{
    grid-column: span 5;
}

.items-2{
    grid-row: span 4;
}

.items-3{
    grid-column: span 3;
    grid-row: span 3;
}

.items-4{
    grid-row: span 3;
}

.items-5{
    grid-column: span 4;
}